@use '_variables' as vars;

.MyCrossword {
  .Button {
    border-radius: vars.$border-radius;
    padding: vars.$button-padding;
    font-weight: bold;
    cursor: pointer;
    margin: vars.$button-margin;
  }
  .Button--filled {
    background-color: vars.$button-background;
    border: none;
    color: vars.$button-color;
  }
  .Button--filled:not(:disabled):hover {
    background-color: vars.$button-background-selected;
  }
  .Button--outlined {
    background-color: vars.$outline-button-background;
    border: 1px solid vars.$outline-button-border;
    color: vars.$outline-button-color;
  }
  .Button--outlined:not(:disabled):hover {
    background-color: vars.$outline-button-background-selected;
  }
  .Button:disabled {
    cursor: default;
    opacity: 0.5;
  }
}
