@use '_variables' as vars;

.MyCrossword {
  .Grid:focus {
    outline: none;
  }
  .Grid--loading {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: vars.$grid-background;
  }
  .Grid__background {
    fill: vars.$grid-background;
  }
}

/** Breakpoints **/
.MyCrossword--xs {
  .Grid[style] {
    width: auto !important;
    height: auto !important;
    min-width: auto !important;
    min-height: auto !important;
  }
}
