@use '_variables' as vars;

.MyCrossword {
  .Grid {
    position: relative;
  }
  .Grid:focus {
    outline: none;
  }
  .Grid--loading {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: vars.$grid-background;
  }
  .Grid__background {
    fill: vars.$grid-background;
  }
  .Grid__inputContainer {
    pointer-events: none;
    position: absolute;
  }
}

/** Breakpoints **/
@media (width <= vars.$breakpoint-xs) {
  .Grid[style] {
    width: auto !important;
    height: auto !important;
    min-width: auto !important;
    min-height: auto !important;
  }
  .Grid {
    scroll-margin-top: vars.$grid-size * 5;
  }
}

@media (vars.$breakpoint-xs < width <= vars.$breakpoint-sm) {
  .Grid {
    scroll-margin-top: vars.$grid-size * 5;
  }
}
