@use '_variables' as vars;

.MyCrossword {
  .Confirm {
    display: flex;
    flex-direction: column;
    margin: 0 vars.$grid-size * 0.5;
  }
  .Confirm__buttonContainer {
    display: inline-flex;
    margin: 0 vars.$grid-size * -0.5;
  }
  .Confirm__button {
    background-color: vars.$confirm-button-background;
    color: vars.$confirm-button-color;
    padding: vars.$button-padding;
    margin: vars.$button-margin;
    font-weight: bold;
    border: none;
    cursor: pointer;
    white-space: nowrap;
    border-radius: vars.$border-radius;
  }
  .Confirm__button:hover {
    background-color: vars.$confirm-button-hover;
  }
  .Confirm__button--cancel {
    background-color: vars.$outline-button-background;
    border: 1px solid vars.$outline-button-border;
    color: vars.$outline-button-color;
  }
  .Confirm__button--cancel:hover {
    background-color: vars.$outline-button-background-selected;
  }
  .Confirm__timeout {
    font-size: vars.$font-size-caption;
    font-weight: 400;
    letter-spacing: vars.$grid-size * 0.04;
    margin-top: vars.$grid-size;
  }
}
