@use '_variables' as vars;

.MyCrossword {
  .Confirm {
    display: flex;
    flex-direction: column;
    margin: 0 vars.$grid-size * 0.5;
  }
  .Confirm__buttonContainer {
    display: inline-flex;
    margin: 0 vars.$grid-size * -0.5;
  }
  .Confirm__button {
    background-color: vars.$confirm-button-background;
    color: vars.$confirm-button-color;
  }
  .Confirm__button:not(:disabled):hover {
    background-color: vars.$confirm-button-hover;
  }
  .Confirm__timeout {
    font-size: vars.$font-size-caption;
    font-weight: 400;
    letter-spacing: vars.$grid-size * 0.04;
    margin-top: vars.$grid-size;
  }
}
