@use '_variables' as vars;

.MyCrossword {
  .SolutionDisplay {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .SolutionDisplay__letter {
    color: vars.$light-grey;
    border-bottom: 2px solid vars.$light-grey;
    padding: vars.$grid-size * 0.4 0;
    margin: vars.$grid-size * 0.4;
    min-width: vars.$grid-size * 1.5;
    height: vars.$grid-size * 1.5;
    text-transform: uppercase;
  }
  .SolutionDisplay__letter--populated {
    color: vars.$grid-color;
    border-bottom: 2px solid vars.$grid-color;
  }
  .SolutionDisplay__letter--missing {
    color: red;
    border-bottom: 2px solid red;
  }
  .SolutionDisplay__letter--hasSpace {
    margin-right: vars.$grid-size * 1.9;
  }
  .SolutionDisplay__letter--hasHyphen {
    position: relative;
  }
  .SolutionDisplay__letter--hasHyphen::after {
    position: absolute;
    content: '-';
    top: vars.$grid-size * 0.2;
    left: vars.$grid-size * 1.6;
  }
}
