@use '_variables' as vars;

.MyCrossword {
  .SolutionDisplay {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .SolutionDisplay__letter {
    color: vars.$grid-color;
    border: 1px solid vars.$light-grey;
    padding: vars.$grid-size * 0.4;
    margin-top: vars.$grid-size * 0.4;
    margin-right: vars.$grid-size * 0.2;
    min-width: vars.$grid-size * 1.5;
    height: vars.$grid-size * 1.5;
    text-transform: uppercase;
    user-select: none;
    box-sizing: content-box;
  }
  .SolutionDisplay__letter--populated {
    background-color: vars.$faint-grey3;
    border-color: vars.$grid-color;
  }
  .SolutionDisplay__letter--missing {
    color: red;
    border-color: red;
    background-color: rgba(255, 0, 0, 0.1);
  }
  .SolutionDisplay__letter--hasSpace {
    margin-right: vars.$grid-size * 1.5;
  }
  .SolutionDisplay__letter--hasHyphen {
    position: relative;
  }
  .SolutionDisplay__letter--hasHyphen::after {
    position: absolute;
    content: '—';
    top: vars.$grid-size * 0.5;
    left: vars.$grid-size * 2;
    font-size: vars.$font-size-small;
    font-weight: bold;
  }
}
