@use '_variables' as vars;

.MyCrossword {
  .WordWheel {
    position: relative;
    top: 0;
    left: 3.5%;
    width: 50%;
    height: 100%;
    margin: 0 auto;
  }
  .WordWheel__letter {
    position: absolute;
    text-transform: uppercase;
    font-size: vars.$font-size-large;
    user-select: none;
  }
  .WordWheel__letter--populated {
    color: vars.$light-grey;
  }
  .WordWheel__letter--central {
    font-size: vars.$font-size-xlarge;
    min-width: vars.$grid-size * 2;
  }
}
