@use '_variables' as vars;

.MyCrossword {
  font-family: vars.$font-family;
  font-size: vars.$font-size;
  -webkit-font-smoothing: subpixel-antialiased;
  box-sizing: content-box;

  sup,
  sub {
    vertical-align: baseline;
    position: relative;
    top: -0.4em;
  }
  sub {
    top: 0.4em;
  }

  ::-webkit-scrollbar {
    width: vars.$grid-size * 0.9;
  }
  ::-webkit-scrollbar-track {
    background: vars.$scrollbar-track-background;
  }
  ::-webkit-scrollbar-thumb {
    background-color: vars.$scrollbar-thumb-background;
    &:hover {
      background-color: vars.$scrollbar-thumb-hover;
    }
  }
}
