@use '_variables' as vars;

.MyCrossword {
  font-family: vars.$font-family;
  font-size: vars.$font-size;
  -webkit-font-smoothing: subpixel-antialiased;
  sup,
  sub {
    vertical-align: baseline;
    position: relative;
    top: -0.4em;
  }
  sub {
    top: 0.4em;
  }
}
