@use '_variables' as vars;

.MyCrossword {
  .Controls {
    display: flex;
    margin-left: vars.$grid-size * -0.5;
    margin-right: vars.$grid-size * -0.5;
    padding: vars.$grid-size * 1.2 0;
  }
  .Controls__button {
    border: none;
    border-radius: vars.$border-radius;
    padding: vars.$button-padding;
    background-color: vars.$button-background;
    color: vars.$button-color;
    font-weight: bold;
    cursor: pointer;
    margin: 0 vars.$grid-size * 0.5;
  }
  .Controls__button:hover {
    background-color: vars.$button-background-selected;
  }
}
