@use '_variables' as vars;

.MyCrossword {
  .Controls {
    display: flex;
    margin-left: vars.$grid-size * -0.5;
    margin-right: vars.$grid-size * -0.5;
    padding: vars.$grid-size * 0.6 0;
    flex-wrap: wrap;
    min-height: vars.$grid-size * 7;
  }
}
