@use '_variables' as vars;

.MyCrossword {
  .StickyClue {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    padding: vars.$grid-size 0;
    background-color: vars.$page-background;
    border-bottom: 1px solid vars.$grid-background;
    height: vars.$grid-size * 3;
    max-height: vars.$grid-size * 3;
    line-height: 1.3;
  }
  .StickyClue__inner {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    flex-grow: 1;
    padding: 0 vars.$grid-size * 0.3;
  }
  .StickyClue__num {
    font-weight: bold;
    margin-right: vars.$grid-size;
    text-transform: uppercase;
  }
  .StickyClue__button {
    height: 100%;
    background: none;
    border: none;
    cursor: pointer;
    font-family: monospace;
    font-size: 1.3rem;
  }
  .StickyClue__button:hover {
    background: rgba(0, 0, 0, 0.08);
  }
}
