@use '_variables' as vars;

.MyCrossword {
  .GridCell {
    fill: vars.$grid-color;
    user-select: none;
  }
  .GridCell__rect {
    cursor: pointer;
    fill: vars.$grid-foreground;
  }
  .GridCell__num {
    cursor: pointer;
    font-size: vars.$font-size-small;
  }
  .GridCell__text {
    cursor: text;
    font-size: vars.$font-size-large;
  }
  .Grid:focus .GridCell--selected .GridCell__rect {
    outline: vars.$grid-size * 0.5 auto Highlight;
    outline: vars.$grid-size * 0.5 auto -webkit-focus-ring-color;
  }
  .GridCell--selected .GridCell__text {
    font-weight: bold;
  }
  .GridCell__fakeCursor {
    font-size: vars.$font-size-large * 1.3;
    fill: transparent;
  }
  .Grid:focus .GridCell--selected .GridCell__fakeCursor {
    fill: vars.$grid-color;
    animation: 1.2s blink step-end infinite;
  }
  @keyframes blink {
    from,
    to {
      fill: vars.$grid-color;
    }
    50% {
      fill: transparent;
    }
  }
}

/** Theme styles **/
.MyCrossword--yellowTheme {
  .GridCell--highlighted .GridCell__rect {
    fill: vars.$theme-yellow;
  }
  .GridCell--selected .GridCell__rect {
    fill: vars.$theme-yellow-light;
  }
}

.MyCrossword--pinkTheme {
  .GridCell--highlighted .GridCell__rect {
    fill: vars.$theme-pink;
  }
  .GridCell--selected .GridCell__rect {
    fill: vars.$theme-pink-light;
  }
}

.MyCrossword--blueTheme {
  .GridCell--highlighted .GridCell__rect {
    fill: vars.$theme-blue;
  }
  .GridCell--selected .GridCell__rect {
    fill: vars.$theme-blue-light;
  }
}

.MyCrossword--greenTheme {
  .GridCell--highlighted .GridCell__rect {
    fill: vars.$theme-green;
  }
  .GridCell--selected .GridCell__rect {
    fill: vars.$theme-green-light;
  }
}

.MyCrossword--orangeTheme {
  .GridCell--highlighted .GridCell__rect {
    fill: vars.$theme-orange;
  }
  .GridCell--selected .GridCell__rect {
    fill: vars.$theme-orange-light;
  }
}
