.MyCrossword {
  .GridCell {
    fill: #000;
    user-select: none;
  }
  .GridCell__rect {
    cursor: pointer;
    fill: #fff;
  }
  .GridCell__num {
    cursor: pointer;
    font-size: 10px;
  }
  .GridCell__text {
    cursor: text;
    font-size: 16px;
  }
  .GridCell--highlighted .GridCell__rect {
    fill: #ffe500;
  }
  .GridCell--selected .GridCell__rect {
    fill: #fff7b2;
  }
  .Grid:focus .GridCell--selected .GridCell__rect {
    outline: 5px auto Highlight;
    outline: 5px auto -webkit-focus-ring-color;
  }
  .GridCell--selected .GridCell__text {
    font-weight: bold;
  }
  .GridCell__fakeCursor {
    font-size: 22px;
    fill: transparent;
  }
  .Grid:focus .GridCell--selected .GridCell__fakeCursor {
    fill: black;
    animation: 1.2s blink step-end infinite;
  }
  @keyframes blink {
    from,
    to {
      fill: black;
    }
    50% {
      fill: transparent;
    }
  }
}
