@use '_variables' as vars;

.MyCrossword {
  .GridCell {
    fill: vars.$grid-color;
    user-select: none;
  }
  .GridCell__rect {
    cursor: pointer;
    fill: vars.$grid-foreground;
  }
  .GridCell__num {
    cursor: pointer;
    font-size: vars.$font-size-small;
  }
  .GridCell__text {
    cursor: text;
    font-size: vars.$font-size-large;
  }
  .GridCell--selected .GridCell__text {
    font-weight: bold;
  }
}

/** Theme styles **/
.MyCrossword--yellowTheme {
  .GridCell--highlighted .GridCell__rect {
    fill: vars.$theme-yellow;
  }
  .GridCell--selected .GridCell__rect {
    fill: vars.$theme-yellow-light;
  }
}

.MyCrossword--pinkTheme {
  .GridCell--highlighted .GridCell__rect {
    fill: vars.$theme-pink;
  }
  .GridCell--selected .GridCell__rect {
    fill: vars.$theme-pink-light;
  }
}

.MyCrossword--blueTheme {
  .GridCell--highlighted .GridCell__rect {
    fill: vars.$theme-blue;
  }
  .GridCell--selected .GridCell__rect {
    fill: vars.$theme-blue-light;
  }
}

.MyCrossword--greenTheme {
  .GridCell--highlighted .GridCell__rect {
    fill: vars.$theme-green;
  }
  .GridCell--selected .GridCell__rect {
    fill: vars.$theme-green-light;
  }
}

.MyCrossword--orangeTheme {
  .GridCell--highlighted .GridCell__rect {
    fill: vars.$theme-orange;
  }
  .GridCell--selected .GridCell__rect {
    fill: vars.$theme-orange-light;
  }
}
