body {
  margin: 0;
  font-family: 'Roboto', arial, sans-serif;
}
header {
  color: #fff;
  background: #24292e;
  padding: 1.3rem 1.5rem;
}
.logo {
  font-family: 'Vollkorn', serif;
  font-size: 1.6rem;
  margin: 0;
}
.example {
  font-size: 1.4rem;
  margin-left: 0.4rem;
  opacity: 0.7;
}
main {
  margin: 0 auto;
  max-width: 1280px;
  padding: 0 1.5rem;
}
.crossword-title-container {
  margin: 1.5rem 0;
}
.crossword-title {
  font-weight: 400;
  margin: 0;
}
.theme-selector {
  margin-bottom: 0.5rem;
}
.theme-selector label {
  margin-right: 0.5rem;
}
