body {
  margin: 0;
  font-family: arial, sans-serif;
}
header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #fff;
  background: #24292e;
  padding: 1.3rem 1.5rem;
}
.logo {
  font-size: 1.6rem;
  letter-spacing: -0.02em;
  margin: 0;
}
.example {
  font-size: 1.2rem;
  background-color: white;
  color: #24292e;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
}
main {
  margin: 0 auto;
  max-width: 1280px;
  padding: 0 1.5rem;
}
.crossword-title-container {
  margin: 1.5rem 0;
}
.crossword-title {
  font-weight: 400;
  margin: 0;
}
.toolbar {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}
.show-definitions-container {
  margin-left: 1rem;
}
.theme-selector label {
  margin-right: 0.5rem;
}
