/** Layout **/
$grid-size: 10px;
$line-height: $grid-size * 2.2;
$border-radius: $grid-size * 0.2;
$button-padding: $grid-size * 0.8 $grid-size * 1.2;
$button-margin: $grid-size * 0.5;

/** Fonts **/
$font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
$font-size: $grid-size * 1.4;
$font-size-small: $grid-size;
$font-size-large: $grid-size * 1.6;
$font-size-caption: $grid-size * 1.2;

/** Colours **/
$page-background: #fff;
$grid-color: #000;
$grid-background: #000;
$grid-foreground: #fff;

$grey: #767676;
$light-grey: #ccc;
$faint-grey1: rgba(0, 0, 0, 0.23);
$faint-grey2: rgba(0, 0, 0, 0.15);
$faint-grey3: rgba(0, 0, 0, 0.08);
$faint-grey4: rgba(0, 0, 0, 0.04);

$button-color: #fff;
$button-background: #bb3b80;
$button-background-selected: #942f65;
$button-background-disabled: #8f5d78;

$dropdown-background: #fff;
$dropdown-border: $faint-grey2;
$dropdown-item-hover: $faint-grey3;

$confirm-button-background: #111;
$confirm-button-color: #fff;
$confirm-button-hover: #111c;

$outline-button-background: $faint-grey4;
$outline-button-background-selected: $faint-grey3;
$outline-button-border: $faint-grey1;
$outline-button-color: rgba(0, 0, 0, 0.87);

/** Theme styles **/
$theme-yellow: #ffe500;
$theme-yellow-light: #fff7b2;

$theme-pink: #ffacac;
$theme-pink-light: #fdd;

$theme-blue: #a1cdfe;
$theme-blue-light: #dbebfe;

$theme-green: #10ffa4;
$theme-green-light: #aafadb;
