/** Layout **/
$grid-size: 10px;
$line-height: $grid-size * 2.2;
$border-radius: $grid-size * 0.2;
$button-padding: $grid-size * 0.8 $grid-size * 1.2;

/** Fonts **/
$font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
$font-size: $grid-size * 1.4;
$font-size-small: $grid-size;
$font-size-large: $grid-size * 1.6;
$font-size-caption: $grid-size * 1.2;

/** Colours **/
$grid-color: #000;
$grid-background: #000;
$grid-foreground: #fff;

$grey: #767676;
$light-grey: #ccc;

$button-color: #fff;
$button-background: #bb3b80;
$button-background-selected: #942f65;

$dropdown-background: #fff;
$dropdown-border: rgba(0, 0, 0, 0.15);
$dropdown-item-hover: rgba(0, 0, 0, 0.08);

$outline-button-background: rgba(0, 0, 0, 0.04);
$outline-button-background-selected: rgba(0, 0, 0, 0.08);
$outline-button-border: rgba(0, 0, 0, 0.23);
$outline-button-color: rgba(0, 0, 0, 0.87);

/** Theme styles **/
$theme-yellow: #ffe500;
$theme-yellow-light: #fff7b2;

$theme-pink: #ffc2c2;
$theme-pink-light: #fdd;

$theme-blue: #b9ddff;
$theme-blue-light: #e2f3ff;

$theme-green: #96fbbd;
$theme-green-light: #caffde;
