/** Layout **/
$grid-size: 10px;
$line-height: $grid-size * 2.2;
$border-radius: $grid-size * 0.2;
$button-padding: $grid-size * 0.8 $grid-size * 1.2;
$button-margin: $grid-size * 0.5;

/** Fonts **/
$font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
$font-size-caption: $grid-size * 1.2;
$font-size-small: $grid-size;
$font-size: $grid-size * 1.4;
$font-size-large: $grid-size * 1.6;
$font-size-xlarge: $grid-size * 2.4;

/** Colours **/
$page-background: #fff;
$grid-color: #000;
$grid-background: #000;
$grid-foreground: #fff;

$grey: #767676;
$light-grey: #ccc;
$faint-grey1: rgba(0, 0, 0, 0.23);
$faint-grey2: rgba(0, 0, 0, 0.15);
$faint-grey3: rgba(0, 0, 0, 0.08);
$faint-grey4: rgba(0, 0, 0, 0.04);
$faint-grey5: rgba(0, 0, 0, 0.02);

$button-color: #fff;
$button-background: #bb3b80;
$button-background-selected: #942f65;
$button-background-disabled: #8f5d78;

$dropdown-background: #fff;
$dropdown-border: $faint-grey2;
$dropdown-item-hover: $faint-grey3;

$confirm-button-background: #111;
$confirm-button-color: #fff;
$confirm-button-hover: #111c;

$outline-button-background: $faint-grey4;
$outline-button-background-selected: $faint-grey3;
$outline-button-border: $faint-grey1;
$outline-button-color: rgba(0, 0, 0, 0.87);

$scrollbar-track-background: #f1f1f1;
$scrollbar-thumb-background: #c1c1c1;
$scrollbar-thumb-hover: #a8a8a8;

/** Theme styles **/
$theme-yellow: #fbc02d;
$theme-yellow-light: #fff9c4;

$theme-pink: #c2185b;
$theme-pink-light: #f8bbd0;

$theme-blue: #1976d2;
$theme-blue-light: #bbdefb;

$theme-green: #388e3c;
$theme-green-light: #c8e6c9;

$theme-orange: #e64a19;
$theme-orange-light: #ffccbc;
