@use '_variables' as vars;

.MyCrossword {
  .Clues {
    display: flex;
    flex-grow: 1;
  }
  .Clues__list {
    display: flex;
    flex-direction: column;
    margin: 0 vars.$grid-size;
    width: 50%;
  }
  .Clues__listHeader {
    border-bottom: 1px dotted vars.$light-grey;
    margin-top: 0;
    padding-bottom: vars.$grid-size * 0.4;
    margin-bottom: 0;
    position: sticky;
    top: 0;
    background: #fff;
    z-index: 1;
  }
}

/** Breakpoints **/
.MyCrossword--xxl,
.MyCrossword--xl,
.MyCrossword--lg {
  .Clues__listBody {
    overflow-y: auto;
    border-bottom: 1px dotted vars.$light-grey;
    scrollbar-width: thin;
    flex-grow: 1;
  }
}

.MyCrossword--md {
  .Clues {
    flex-direction: column;
    overflow-y: auto;
    border-bottom: 1px dotted vars.$light-grey;
    margin: 0 vars.$grid-size;
    scrollbar-width: thin;
  }
  .Clues__list {
    width: 100%;
    margin: 0;
  }
  .Clues__list--down {
    margin-top: vars.$grid-size * 2;
    .Clues__listHeader {
      top: -1px;
    }
  }
}

.MyCrossword--sm {
  .Clues {
    margin-top: vars.$grid-size;
  }
}

@media (width <= vars.$breakpoint-xs) {
  .Clues {
    flex-direction: column;
  }
  .Clues__list {
    width: 100%;
  }
  .Clues__list--down {
    margin-top: vars.$grid-size * 2;
  }
}
