.Clue {
  cursor: pointer;
  display: flex;
  font-size: 14px;
  line-height: 22px;
  padding: 3px 12px 3px 0;
  color: #000;
}
.Clue--answered {
  color: #767676;
}
.Clue--highlighted {
  background-color: #fff7b2;
  font-weight: bold;
  color: #000;
}
.Clue__num {
  font-weight: bold;
  width: 20px;
  padding-right: 10px;
}
