.MyCrossword {
  .Crossword {
    display: flex;
  }
  .Crossword__gridAndControls {
    flex-shrink: 0;
  }
}

/** Breakpoints **/
.MyCrossword--xs {
  .Crossword {
    flex-direction: column;
  }
}

.MyCrossword--sm {
  .Crossword {
    flex-direction: column;
  }
  .Crossword__gridAndControls {
    margin: 0 auto;
  }
}
